@CHARSET "ISO-8859-1";

.centralizar {
	text-align: center;
}

.menu-texto {
	color: #c0c0c0;
	padding-bottom: 3px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	width: 100%;
	margin-top: 100%;
}

.obrigatorio {
	color: red !important;
}

.text-field-fantasia {
	width: 80% !important;
	height: 35px;
	margin-right: 150px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	height: 35px;
	margin-right: 150px !important
}

.text-field-empresa {
	width: 80% !important;
	height: 35px;
	margin-right: 150px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	height: 35px;
}

.mask-ie {
	width: 70% !important;
	height: 35px;
	margin-right: 10px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.mask-text-field {
	height: 35px;
	margin-right: 10px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field {
	width: 170% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-valor {
	width: 80% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-cidade {
	width: 80% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-uf {
	width: 20% !important;
	height: 35px;
	margin-right: 50px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.btn-salvar {
	height: 50px;
	text-shadow: none;
	color: white;
	text-decoration: none;
	line-height: none;
	border: none !important;
}

.icones_ativar {
	background-image: url("../imagens/icones_27874c_p.png");
	background-position: -340px -116px;
	height: 22px;
	margin: 0 auto 7px;
	width: 22px;
}

.icones_desativar {
	background-image: url("../imagens/icones_db0b0b_p.png");
	background-position: -413px -116px;
	height: 22px;
	margin: 0 auto 7px;
	width: 22px;
}

.icon {
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
}