@CHARSET "ISO-8859-1";

.centralizar{
	text-align: center;
}
.menu-texto{
	color: #c0c0c0;
	padding-bottom: 3px;
	border-top: 2px solid #fff;
	border-bottom:2px solid #fff; 
	width:100%;
	margin-top: 100%;
}
.obrigatorio{
	color: red !important;
}
.text-field{
	width: 150% !important;
}
.btn-salvar{
	text-shadow: none;
	color: white;
	text-decoration: none;
	line-height:none;
	border:none !important;
}
