@CHARSET "ISO-8859-1";

.centralizar {
	text-align: center;
	margin-bottom: 4px;
}
.text-money{
	font-size: 13px !important;
	text-decoration: none;
}
.texto-span{
	font-size: 25px !important;
}
.texto-info{
	font-weight: normal !important;
	margin-right: 30px;
}
.menu-texto {
	color: #c0c0c0;
	padding-bottom: 3px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	width: 100%;
	margin-top: 100%;
}
.btnSearch{
	background-color: #80ff00 !important;
	text-shadow:none;
	height: 34px;
}

.obrigatorio {
	color: red !important;
}

.text-field-pesquisa {
	width: 60% !important;
	margin-right: 6px !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	height: 35px;
}

hr {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	font-family: "Open Sans", sans-serif !important;
	color: #fff !important;
}

hr.zig, hr.zag {
	border: none;
	height: 30px;
	margin: 0 50px;
}

hr.zig {
	background: linear-gradient(-135deg, #FFF 20px, rgba(0, 0, 0, 0) 0) 0
		5px, linear-gradient(135deg, #FFF 20px, rgba(0, 0, 0, 0) 0) 0 5px;
	background-color: rgba(0, 0, 0, 0) !important;
	background-position: center bottom !important;
	background-repeat: repeat-x !important;
	background-size: 20px 40px !important;
	z-index: 100 !important;
	position: relative !important;
}

hr.zag {
	background: linear-gradient(-135deg, #333 20px, rgba(0, 0, 0, 0) 0) 0
		5px, linear-gradient(135deg, #333 20px, #FFF 0) 0 5px;
	background-color: rgba(0, 0, 0, 0);
	background-position: center bottom;
	background-repeat: repeat-x;
	background-size: 20px 40px;
	z-index: 50;
	margin-top: -28px;
}

.text-field-fantasia {
	width: 80% !important;
	height: 35px;
	margin-right: 150px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	height: 35px;
	margin-right: 150px !important
}

.text-field-empresa {
	width: 80% !important;
	height: 35px;
	margin-right: 150px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	height: 35px;
}

.mask-ie {
	width: 70% !important;
	height: 35px;
	margin-right: 10px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.mask-text-field {
	height: 35px;
	margin-right: 10px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field {
	width: 170% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-valor {
	width: 80% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-cidade {
	width: 80% !important;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
}

.text-field-uf {
	width: 6% !important;
	height: 35px;
	margin-right: 50px !important;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: none;
	border-radius: 5px;
}

.btn-salvar {
	height: 50px;
	text-shadow: none;
	color: white;
	text-decoration: none;
	line-height: none;
	border: none !important;
}

.icones_ativar {
	background-image: url("../imagens/icones_27874c_p.png");
	background-position: -340px -116px;
	height: 22px;
	margin: 0 auto 7px;
	width: 22px;
}

.icones_desativar {
	background-image: url("../imagens/icones_db0b0b_p.png");
	background-position: -413px -116px;
	height: 22px;
	margin: 0 auto 7px;
	width: 22px;
}

.icon {
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
}